

body {
    font-family: 'Amiri', serif;
}

 #quote {
     font-size: 40px;
 }
 .card {
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    background-color: lightgrey;
}
#backdrop {
    background-image: url(../css/images/img-1536128208-2095-29249-p-A25F3E94-DBBC-66E3-8A49D0F6CEE09647-2544003__FocalPointCropWzQyNyw2NDAsNTAsNTAsODUsImpwZyIsNjUsMi41XQ.jpg);
}
