body {
    font-family: 'Amiri', serif;
}

#quote {
    font-size: 40px;
}

.card {
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    background-color: lightgrey;
}

#backdrop {
    background-image: url("../css/images/Noah-Bradley_The-Coming-Darkness_highres_1400x.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}